.nav-link {
    font-family: "Coolvetica";
    text-transform: uppercase;
    padding: 0 15px;
    cursor: pointer;
}

.nav-link:hover {
    background-color: var(--red-color);
    color: var(--white-color);
    transition: var(--transition);
    padding: 0 15px;
    border-radius: 50px;
}

.active {
    background-color: var(--red-color);
    color: var(--white-color);
    transition: var(--transition);
    padding: 0 15px;
    border-radius: 50px;
}

.time {
    font-family: "Helvetica Neue";
}

@media (max-width: 1023px) {
    .nav-bar {
        background-color: transparent;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    .nav-bar.scrolled {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);
    }

}